<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="48246Appbyfex.PictureStream" Publisher="CN=4925A86F-53BF-456C-9721-0CC986AAC15F" Version="1.0.0.2" />
  <Properties>
    <DisplayName>PictureStream</DisplayName>
    <PublisherDisplayName>Appbyfex</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PictureStream.App.App">
      <VisualElements DisplayName="PictureStream" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PictureStream.App" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>